html, body, #root, canvas {
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 0;
  overflow: hidden;
  font-family: 'Chakra Petch', sans-serif;
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


#root{
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}


.content{
  width: 50%;
 
  position: absolute;
  top: 55%;
  left: 45%;
  color : #F0F757;
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px 0.9px  rgb(230,90,39) ;
}




h3{
  color : orange;
}



.navBtn{
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  padding: 0.1rem 0.3rem;
  background-color: initial;
  cursor: pointer;
  border: 1px solid #F0F757;
  transition: all 0.8s ease;
}

.navBtn:hover{
  background-color: orange;
  border-radius: 10px;
}

.navBtn:focus{
  background-color: orange;
  border-radius: 10px;
}
  
.navBtnDivComp{
  display: flex;
  position: absolute;
  top: -40px;
  left: -10px;
  z-index: 9;
}
  

.wrapper,.wrapper3,.navBtn{
  color : yellow;
  text-shadow: 0.5px 0.5px 3px  orangered;
  
  
  
}

.wrapper2{
  width: 134px;
  height: 70px;
  border: 1px solid rgb(55, 255, 0);
  color: rgb(55, 255, 0);
  border-radius: 15px;
  position: relative;
}

.wrapper3{
  width: 300px;
  text-align: center;
  font-size: 1.1rem;
}

/* width: 500px;
  height: 250px; */

.compScreen{
  background-color: black;
  
  overflow-y: auto;
  height: 100%;
  font-size: 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: overflow 2s;
  cursor: pointer;
  
}


.compScreenActivated{
  position: absolute;
  left: -185px;
  top: -140px;
  background-color: black;
  
  height: 300px;
  width: 500px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1.4s ease-in-out;
  z-index: 10;
}



header,main,footer{
  color: rgb(55, 255, 0);
  border: 1px solid rgb(55, 255, 0);
  
  padding: 0.5rem;
}

header{
  display: flex;
  justify-content: space-between;
}



header p {
  text-align: center;
  font-size: 0.8rem;
  
}

#date{
  font-size: 0.6rem;
}


main{
  height: 70%;
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("/matrix.gif");
  background-blend-mode: darken;
}

footer{
  display: flex;
  justify-content: space-between;
}

footer img{
  height: 25px;
  
}

footer button {
  color: inherit;
  background-color: inherit;
  padding: 0.1rem 0.3rem;
  border: 2px solid rgb(55, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.8s;
}

footer button:hover{
  transform: scale(1.2);
  background: rgb(55, 255, 0);
  color: black;
}



.projectFolder{
  width: 10%;
  height: 10%;
  cursor: pointer;
  font-size: 0.7rem;
  text-align: center;
  transition-duration: 0.8s;
}

.projectFolder:hover{
  transform: scale(1.2);
}


.loader{
  width: 100%;
  height: 100vh;
  display:flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  overflow: hidden;
  
}

#loaderImg{
    max-width: 300px;
    max-height: 300px;
}