html, body, #root, canvas {
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 0;
  overflow: hidden;
  font-family: 'Chakra Petch', sans-serif;
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


#root{
  position: relative;
}


.content{
  width: 50%;
 
  position: absolute;
  top: 55%;
  left: 45%;
  color : #F0F757;
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px 0.9px  rgb(230,90,39) ;
}




h3{
  color : orange;
}



button{
  font-size: 0.7em;
}

.wrapper,.wrapper3{
  color : #F0F757;
  text-shadow: 0.5px 0.5px 0.9px  rgb(230,90,39) ;
  
  
  
}

.wrapper2{
  width: 134px;
  height: 70px;
  border: 1px solid greenyellow;
  color: greenyellow;
  border-radius: 15px;
  position: relative;
}

.wrapper3{
  width: 300px;
  text-align: center;
  font-size: 1.1rem;
}

/* width: 500px;
  height: 250px; */

.compScreen{
  background-color: black;
  overflow-y: auto;
  height: 100%;
  font-size: 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.compScreenActivated{
  position: absolute;
  left: -185px;
  top: -100px;
  background-color: green;
  height: 300px;
  width: 500px;
  
}



header{
  display: flex;
  background: red;
  font-size: 10px;
  width: 100%;
}

main{
  background: yellow;
  width: 100%;
  font-size: 5px;
}

