html, body, #root, canvas {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


#root{
  position: relative;
}

#info{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  width : 100%;
  height: 20%;
}

h3{
  color : orange;
}

p{
  color : orange;
  font-size: 0.7em;
}

button{
  font-size: 0.7em;
}