html, body, #root, canvas {
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 0;
  overflow: hidden;
  font-family: 'Chakra Petch', sans-serif;
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


#root{
  position: relative;
}


.content{
  width: 50%;
 
  position: absolute;
  top: 55%;
  left: 45%;
  color : #F0F757;
  font-size: 2.5rem;
  text-shadow: 0.5px 0.5px 0.9px  rgb(230,90,39) ;
}




h3{
  color : orange;
}



button{
  font-size: 0.7em;
}

.wrapper{
  width: 110px;
  height: 64px;
  border: 1px solid greenyellow;
  border-radius: 7px;
  overflow: hidden;
}

.wrapper2{
  width: 320px;
  border: 1px solid greenyellow;
  color: greenyellow;
}

.compScreen{
  background-color: green;
  overflow-y: auto;
  height: 100%;
  font-size: 9px;
}



header{
  display: flex;
  background: red;
  font-size: 10px;
  width: 100%;
}

main{
  background: yellow;
  width: 100%;
  font-size: 5px;
}

